.body {
    font-size: xx-small;
}

.header {
    background-color: red;
    color:white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    margin: 0px 0px 20px 0px;
}
.header-title{
  padding: 20px 0px 0px 0px;
}

.js-approval-user-grid {
    background-color: burlywood;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    overflow-x: auto; 
    overflow-y: hidden;

    /* max-width: 100vw;         */
    min-width: 2400px;
    box-sizing: border-box;
}

.js-approval-user-grid > * {
  flex-shrink: 0;
  min-width: 400px;
}

.js-approval-user, .js-approval-user-titles{
    background-color: teal;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.js-user-profile-picture{
  width: 28px;
  height: 28px;
}