<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- FIRST DIV for whole form-->
    <div class="js-user-login-signup-form">
      <h2>Sign up</h2>
      <!-- SECOND DIV for radios -->
      <div class="js-radio-buttons">
        <input
          class="js-signup-radio-student"
          type="radio"
          name="js-user-type"
          id="js-user-type-student"
        />
        <label for="js-user-type-student">Student</label>
        <input
          class="js-signup-radio-professor"
          type="radio"
          name="js-user-type"
          id="js-user-type-professor"
        />
        <label for="js-user-type-professor">Professor</label><br />
      </div>
      <!-- ---------------------------- -->
      <!-- SECOND DIV for common fields -->
      <!-- ---------------------------- -->
      <div class="js-signup-common-fields">
        <!-- THIRD DIV row field -->
        <div class="signup-field-row">
          <label for="username">Username:</label>
          <input
            class="js-signup-username"
            type="text"
            name="username"
            required
          /><br />
        </div>
        <!-- THIRD DIV row field -->
        <div class="signup-field-row">
          <label for="password">Password:</label>
          <input
            class="js-signup-password"
            type="password"
            name="password"
            required
          /><br />
        </div>
        <!-- THIRD DIV row field -->
        <div class="signup-field-row">
          <label for="password">Retype password:</label>
          <input
            class="js-signup-password1"
            type="password"
            name="password1"
            required
          /><br />
        </div>
        <!-- THIRD DIV row field -->
        <div class="signup-field-row">
          <label for="email">Email:</label>
          <input
            class="js-signup-email"
            type="email"
            name="email"
            required
          /><br />
        </div>
        <!-- THIRD DIV row field -->
        <div class="signup-field-row">
          <label for="name">Name: </label>
          <input
            class="js-student-form js-user-name"
            placeholder="Full Name"
            id="user_name"
          />
        </div>
        <!-- THIRD DIV row field -->
        <div class="signup-field-row">
          <label for="age"> Age: </label>
          <input
            class="js-user-form js-user-age"
            placeholder="Age"
            id="user_age"
          />
        </div>
        <!-- THIRD DIV row field -->
        <div class="signup-field-row">
          <label for="gender"> Gender: </label>
          <select
            class="js-user-form js-user-gender"
            name="user-addition-gender"
            ,
            id="gender"
          >
            <option value="F">Female</option>
            <option value="M">Male</option>
            <option value="Other">Other</option>
          </select>
        </div>
      </div>
      <div class="js-signup-specific">
        <!-- THIRD DIV -->
        <div class="signup-field-row">
          <label class="signup-row"> Student's Parent Education: </label>
          <select
            class="student-addition-dropdown js-student-form js-student-parent-education"
            name="student-addition-parent-education"
            id="parent_education"
          >
            <option value="High School">High School</option>
            <option value="Bachelor's">Bachelor's</option>
            <option value="Master's">Master's</option>
            <option value="PhD">PhD</option>
          </select>
        </div>
        <!-- THIRD DIV -->
        <div class="signup-field-row">
          <label class="student-portal-row"> Student's Lunch Type: </label>
          <select
            class="student-addition-dropdown js-student-form js-student-lunch"
            name="student-addition-lunch-type"
            ,
            id="lunch_type"
          >
            <option value="Free or Reduced">Free or Reduced</option>
            <option value="Standard">Standard</option>
          </select>
        </div>
        <!-- THIRD DIV -->
        <div class="signup-field-row">
          <label class="student-portal-row"> Student's Internet Access: </label>
          <select
            class="student-addition-dropdown js-student-form js-student-internet-access"
            name="student-addition-internet-access"
            ,
            id="internet_access"
          >
            <option value="True">True</option>
            <option value="False">False</option>
          </select>
        </div>
        <!-- THIRD DIV -->
        <div>
          <label class="student-portal-row">
            Student's Extra Activities:
          </label>
          <select
            class="student-addition-dropdown js-student-form js-student-extra-activities"
            name="student-addition-extra-activities"
            ,
            id="extra_activities"
          >
            <option value="True">True</option>
            <option value="False">False</option></select
          ><br />
        </div>
      </div>
      <div class="login-signup-buttons">
        <div class="js-login-signup-buttons">
          <button class="js-signup-login-switch">Login</button>

          <input class="js-login-submit" type="button" value="Signup" />
        </div>
      </div>
    </div>
  </body>
</html>
