<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approve User</title>
    <link rel="stylesheet" href="../static/styles/approval_user.css">
</head>
<body>
    <header class="header">
        header <button class = 'logout'>logout</button>
    </header>
    <h1 class="header-title">Users for approval</h1>
    <div class="js-approval-user-grid">

    </div>

    <script type="module" src="../static/scripts/approve_user.js"></script>
</body>
</html>