<!DOCTYPE html>
<html>
<head>
  <title>Student Dashboard</title>
    <link rel="stylesheet" href="../static/styles/test_student.css">
</head>
<body>
  <h1>Students</h1>
  <div class="js-student-grid">
    <div class="js-student-titles">
      <div class="js-grade-id" > id</div>
      <div class="js-grade-student-name" > Student</div>
      <div class="js-grade-subject" > Subject</div>
      <div class="js-grade-task" > task</div>
      <div class="js-grade-type" > grade type</div>
      <div class="js-grade" > grade</div>
      <div class="js-grade-date-assigned" > Date Assigned</div>
      <div class="js-grade-deadline" > deadline</div>`z
      <div class="js-grade-date-submitted" > Date-submitted</div>
    </div>
    <div class="js-student">
      <div class="js-grade-id"  > 1.0</div>
      <div class="js-grade-student-name" > 1.1</div>
      <div class="js-grade-subject" > 1.2</div>
      <div class="js-grade-task"  > 1.3</div>
      <div class="js-grade-type" > 1.4</div>
      <div class="js-grade" > 1.5</div>
      <div class="js-grade-date-assigned" > 1.6</div>
      <div class="js-grade-deadline" > 1.7</div>
      <div class="js-grade-date-submitted" > 1.8</div>
    </div>
  </div>
  <script src="../static/scripts/grades.js"></script>
</body>
</html>
